body {
    font-family: cursive,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.room-card {
    display: inline-block;
  width: 250px;
  height: auto;
  padding: 5px;
  background-color: orange;
  border-radius: 15px;
  margin: 10px
}

@media (max-width:475px) {
    .room-container {
        text-align: center;
    }
    .room-card {
        width: 150px;
        margin: 5px;
        font-size: 10px;
    }
}
.room-name {
  text-transform: uppercase;
  padding: 5px 10px;
}

.room-body {
  padding: 5px 10px;
}

.room-card-footer {
    display: flex;
    justify-content: center;
}

.icon-holder {
  width: 40px;
  height: 40px;
  background-color: blanchedalmond;
  /* margin: 10px; */
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  border-radius: 10px;
}

.btn-new-room {
    margin: 5px 10px;
}